@font-face {
  font-family: anjoman-bold;
  src: url(../assets/fonts/AnjomanFaNum-Bold.ttf);
}
@font-face {
  font-family: anjoman-light;
  src: url(../assets/fonts/AnjomanFaNum-Light.ttf);
}
@font-face {
  font-family: anjoman-regular;
  src: url(../assets/fonts/AnjomanFaNum-Regular.ttf);
}

/* customize fonts */

@font-face {
  font-family: Architex;
  src: url(../assets/fonts/Architex.ttf);
}
@font-face {
  font-family: BadScript;
  src: url(../assets/fonts/BadScript-Regular.ttf);
}
@font-face {
  font-family: Barokah;
  src: url(../assets/fonts/Barokah.ttf);
}
@font-face {
  font-family: Bettina;
  src: url(../assets/fonts/Bettina.ttf);
}
@font-face {
  font-family: Caveat-Regular;
  src: url(../assets/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: fabfeltscript-bold;
  src: url(../assets/fonts/fabfeltscript-bold.ttf);
}
@font-face {
  font-family: HighSummit;
  src: url(../assets/fonts/HighSummit.ttf);
}
@font-face {
  font-family: Sacramento;
  src: url(../assets/fonts/Sacramento-Regular.ttf);
}
@font-face {
  font-family: Nickainley;
  src: url(../assets/fonts/Nickainley.ttf);
}
@font-face {
  font-family: Somelove;
  src: url(../assets/fonts/Somelove.otf);
}
@font-face {
  font-family: SouthTown;
  src: url(../assets/fonts/SouthTown.otf);
}
@font-face {
  font-family: Stalemate;
  src: url(../assets/fonts/Stalemate-Regular.ttf);
}
@font-face {
  font-family: SundayHoliday;
  src: url(../assets/fonts/SundayHoliday.ttf);
}
@font-face {
  font-family: TheSuavity;
  src: url(../assets/fonts/TheSuavity.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: JosefinSans;
  src: url(../assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: kamran;
  src: url(../assets/fonts/Far_KamranO.ttf);
}
@font-face {
  font-family: nazanin;
  src: url(../assets/fonts/Far_NazaninOut.ttf);
}
@font-face {
  font-family: koodak;
  src: url(../assets/fonts/Far_KoodakO.ttf);
}

@font-face {
  font-family: dastnevis;
  src: url(../assets/fonts/danstevis.otf);
}
@font-face {
  font-family: titr;
  src: url(../assets/fonts/Mj_Titr\ Outline_0.ttf);
}

/* fonthaye site khareji */
@font-face {
  font-family: "Alexa";
  src: url("../assets/fonts/Alexa.ttf") format("truetype");
}
@font-face {
  font-family: "Amanda";
  src: url("../assets/fonts/Amanda.ttf") format("truetype");
}
@font-face {
  font-family: "Amsterdam";
  src: url("../assets/fonts/Amsterdam.ttf") format("truetype");
}
@font-face {
  font-family: "Austin";
  src: url("../assets/fonts/Austin.ttf") format("truetype");
}
@font-face {
  font-family: "Avante";
  src: url("../assets/fonts/Avante.ttf") format("truetype");
}
@font-face {
  font-family: "Barcelona";
  src: url("../assets/fonts/Barcelona.ttf") format("truetype");
}
@font-face {
  font-family: "Bayview";
  src: url("../assets/fonts/Bayview.ttf") format("truetype");
}
@font-face {
  font-family: "Beachfront";
  src: url("../assets/fonts/Beachfront.ttf") format("truetype");
}
@font-face {
  font-family: "Bellview";
  src: url("../assets/fonts/Bellview.ttf") format("truetype");
}
@font-face {
  font-family: "Buttercup";
  src: url("../assets/fonts/Buttercup.ttf") format("truetype");
}
@font-face {
  font-family: "Chelsea";
  src: url("../assets/fonts/Chelsea.ttf") format("truetype");
}
@font-face {
  font-family: "ClassicType";
  src: url("../assets/fonts/ClassicType.ttf") format("truetype");
}
@font-face {
  font-family: "Freehand";
  src: url("../assets/fonts/Freehand.ttf") format("truetype");
}
@font-face {
  font-family: "Freespirit";
  src: url("../assets/fonts/Freespirit.ttf") format("truetype");
}
@font-face {
  font-family: "Greenworld";
  src: url("../assets/fonts/Greenworld.ttf") format("truetype");
}
@font-face {
  font-family: "LoveNeon";
  src: url("../assets/fonts/LoveNeon.ttf") format("truetype");
}
@font-face {
  font-family: "LoveNote";
  src: url("../assets/fonts/LoveNote.ttf") format("truetype");
}
@font-face {
  font-family: "Marquee";
  src: url("../assets/fonts/Marquee.ttf") format("truetype");
}
@font-face {
  font-family: "Mayfair";
  src: url("../assets/fonts/Mayfair.ttf") format("truetype");
}
@font-face {
  font-family: "Melbourne";
  src: url("../assets/fonts/Melbourne.ttf") format("truetype");
}
@font-face {
  font-family: "Monaco";
  src: url("../assets/fonts/Monaco.ttf") format("truetype");
}
@font-face {
  font-family: "NeonGlow";
  src: url("../assets/fonts/NeonGlow.ttf") format("truetype");
}
@font-face {
  font-family: "NeonLite";
  src: url("../assets/fonts/NeonLite.ttf") format("truetype");
}
@font-face {
  font-family: "Neonscript";
  src: url("../assets/fonts/Neonscript.ttf") format("truetype");
}
@font-face {
  font-family: "Neontrace";
  src: url("../assets/fonts/Neontrace.ttf") format("truetype");
}
@font-face {
  font-family: "NeoTokyo";
  src: url("../assets/fonts/NeoTokyo.ttf") format("truetype");
}
@font-face {
  font-family: "Nevada";
  src: url("../assets/fonts/Nevada.ttf") format("truetype");
}
@font-face {
  font-family: "NewCursive";
  src: url("../assets/fonts/NewCursive.ttf") format("truetype");
}
@font-face {
  font-family: "Northshore";
  src: url("../assets/fonts/Northshore.ttf") format("truetype");
}
@font-face {
  font-family: "Photogenic";
  src: url("../assets/fonts/Photogenic.ttf") format("truetype");
}
@font-face {
  font-family: "Rocket";
  src: url("../assets/fonts/Rocket.ttf") format("truetype");
}
@font-face {
  font-family: "Royalty";
  src: url("../assets/fonts/Royalty.ttf") format("truetype");
}
@font-face {
  font-family: "SciFi";
  src: url("../assets/fonts/SciFi.ttf") format("truetype");
}
@font-face {
  font-family: "Signature";
  src: url("../assets/fonts/Signature.ttf") format("truetype");
}
@font-face {
  font-family: "Sorrento";
  src: url("../assets/fonts/Sorrento.ttf") format("truetype");
}
@font-face {
  font-family: "Typewriter";
  src: url("../assets/fonts/Typewriter.ttf") format("truetype");
}
@font-face {
  font-family: "Venetian";
  src: url("../assets/fonts/Venetian.ttf") format("truetype");
}
@font-face {
  font-family: "Vintage";
  src: url("../assets/fonts/Vintage.ttf") format("truetype");
}
@font-face {
  font-family: "Waikiki";
  src: url("../assets/fonts/Waikiki.ttf") format("truetype");
}
@font-face {
  font-family: "WildScript";
  src: url("../assets/fonts/WildScript.ttf") format("truetype");
}
@font-face {
  font-family: "Loveisland";
  src: url("../assets/fonts/Loveisland.ttf") format("truetype");
}
/* fonthaye site khareji */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dbdbdb;
}

body {
  background-color: rgb(182, 182, 182) !important;
  font-family: anjoman-regular !important;
}
h1 {
  font-family: anjoman-bold;
  font-size: 20px ;
}

p {
  font-size: 12px;
}

.header {
  background-color: white;
  width: 80%;
  height: 100px;
  margin: 20px auto 0 auto;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.logo-img {
  height: 80px;
  margin: 12px;
}
.title-wrapper {
  margin: 18px 15px;
}

.container-wrapper {
  background-color: white;
  width: 80%;
  height: 607px;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  overflow: hidden;
}
.customization {
  background-color: #3b4851;
  width: 40%;
  height: 100%;
  color: white;
  padding: 15px;
  direction: rtl;
  overflow-x: hidden;
}

.form h1{
  font-size: 20px;
}
.choose-background{
  margin-top: 20px;
}

.preview {
  width: 60%;
  height: 100%;
}
.picture {
  background-image: url(../assets/img/lounge1.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.move-area {
  background-color: red;
  width: 100px;
  height: 100px;
  cursor: move;
  position: absolute;
}

.picture h1 {
  position: absolute;
  cursor: move;
  top: 20%;
  left: 40%;
  font-size: 50px;
  color: white;
  user-select: none;
}
.customer-text {
  width: 55% !important;
  height: 35%;
}
.fonts-wrapper {
  background-color: #fff;
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin: 5px 0 !important;
}
.font {
  text-align: center;
  cursor: pointer;
}
.font-1 {
  font-family: Barokah;
}
.font-2 {
  font-family: Bettina;
}
.font-3 {
  font-family: Caveat-Regular;
}
.font-4 {
  font-family: fabfeltscript-bold;
}
.font-5 {
  font-family: HighSummit;
}
.font-6 {
  font-family: NexaRustExtras;
}
.font-7 {
  font-family: Nickainley;
}
.font-8 {
  font-family: Somelove;
}
.font-9 {
  font-family: SouthTown;
}
.font-10 {
  font-family: Stalemate;
}
.font-11 {
  font-family: SundayHoliday;
}
.font-12 {
  font-family: BadScript;
}
.font-13 {
  font-family: TheSuavity;
}
.font-14 {
  font-family: Architex;
}
.font-15 {
  font-family: OpenSans;
}
.font-16 {
  font-family: JosefinSans;
}
.font-17 {
  font-family: Alexa;
}
.font-18 {
  font-family: Amanda;
}
.font-19 {
  font-family: Amsterdam;
}
.font-20 {
  font-family: Austin;
}
.font-21 {
  font-family: Avante;
}
.font-22 {
  font-family: Barcelona;
}
.font-23 {
  font-family: Bayview;
}
.font-24 {
  font-family: Beachfront;
}
.font-25 {
  font-family: Bellview;
}
.font-26 {
  font-family: Buttercup;
}
.font-27 {
  font-family: Chelsea;
}
.font-28 {
  font-family: ClassicType;
}
.font-29 {
  font-family: Freehand;
}
.font-30 {
  font-family: Freespirit;
}
.font-31 {
  font-family: Greenworld;
}
.font-32 {
  font-family: LoveNeon;
}
.font-33 {
  font-family: LoveNote;
}
.font-34 {
  font-family: Marquee;
}
.font-35 {
  font-family: Mayfair;
}
.font-36 {
  font-family: Melbourne;
}
.font-37 {
  font-family: Monaco;
}
.font-38 {
  font-family: NeonGlow;
}
.font-39 {
  font-family: NeonLite;
}
.font-40 {
  font-family: Neonscript;
}
.font-41 {
  font-family: Neontrace;
}
.font-42 {
  font-family: NeoTokyo;
}
.font-43 {
  font-family: Nevada;
}
.font-44 {
  font-family: NewCursive;
}
.font-45 {
  font-family: Northshore;
}
.font-46 {
  font-family: Photogenic;
}
.font-47 {
  font-family: Rocket;
}
.font-48 {
  font-family: Royalty;
}
.font-49 {
  font-family: SciFi;
}
.font-50 {
  font-family: Signature;
}
.font-51 {
  font-family: Sorrento;
}
.font-52 {
  font-family: Typewriter;
}
.font-53 {
  font-family: Venetian;
}
.font-54 {
  font-family: Vintage;
}
.font-55 {
  font-family: Waikiki;
}
.font-56 {
  font-family: WildScript;
}
.font-57 {
  font-family: Loveisland;
}
.font-58 {
  font-family: nazanin;
}
.font-59 {
  font-family: titr;
}
.font-60 {
  font-family: koodak;
}
.font-61 {
  font-family: kamran;
}
.font-62 {
  font-family: dastnevis;
}
.font h5 {
  border: 1px solid gray;
  padding: 10px;
}
.choose-color-title {
  margin-top: 20px;
}

.color {
  cursor: pointer;
}

.color-1 {
  background-color: #8fcfff;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-2 {
  background-color: #0081fb;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-3 {
  background-color: #bb234a;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-4 {
  background-color: #f3f528;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-5 {
  background-color: #f121b7;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-6 {
  background-color: #ff0000;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-7 {
  background-color: #0300f1;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-8 {
  background-color: #f4d3a8;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-9 {
  background-color: #fda730;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-10 {
  background-color: #c700bd;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-11 {
  background-color: #00d77c;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.color-12 {
  background-color: #dfdfdf;
  width: 35px !important;
  height: 35px !important;
  border-radius: 100px;
  flex-direction: row-reverse;
}
.colors-wrapper {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  margin: 5px 0 !important;
  padding: 10px 0 10px 0;
  flex-wrap: wrap;
}
.d-none {
  display: none;
}
.other-background {
  /* background-color: black; */
  /* opacity: 35%; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.tumbnail-background-img {
  width: 80px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
}

@media (max-width: 600px) {
  .container-wrapper {
    flex-direction: column;
    height: auto;
  }
  .customization,
  .preview {
    width: 100%;
  }

  .container-wrapper,
  .header {
    width: 90%;
  }

  #input-text {
    width: 100% !important;
  }

  .picture {
    height: 400px;
    text-align: center;
  }
  .tumbnail-background-img {
    width: 55px;
  }
  .picture h1 {
    font-size: 30px;
    left: 30%;
  }
}
